@tailwind base;
@tailwind components;
@tailwind utilities;

.colors {
    background-color: #1b634b;
    color: #1b634b;

}



.fieldRing {
    border-width: 2;
    border-color: #FF9C01;
}
/* 
.fieldRing:focus {
    border-width: 2;
    border-color: #FF9C01;
} */