@keyframes textSwitch {
    0%, 20% {
        transform: translateX(0);
        opacity: 1;
        content: "Text 1";
    }
    25%, 45% {
        transform: translateX(100%);
        opacity: 0;
        content: "Text 2";
    }
    50%, 70% {
        transform: translateX(0);
        opacity: 1;
        content: "Text 2";
    }
    75%, 95% {
        transform: translateX(100%);
        opacity: 0;
        content: "Text 3";
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        content: "Text 3";
    }
}

.text-switcher {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 200px; /* Adjust based on your text width */
    height: 1em; /* Adjust based on your text size */
}

.twhite{
    border: solid;
    border-width: 2px;
    border-color: red;
}

.text-switcher::after {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    animation: textSwitch 20s infinite;
    content: "Text 1";
    transform: translateX(-100%);
    opacity: 0;
    animation-timing-function: ease-in-out;
}